*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(Lambo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100%;
}
.book-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.book-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.book-contact-left-title h2{
    font-weight: 600;
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}
.book-contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgba(221, 148, 13, 0.911);
    border-radius: 10px;
    margin-bottom: 20px;
}
.book-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.book-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.book-inputs:focus{
    border: 2px solid #ff994f;
}
.book-inputs::placeholder{
    color: #a9a9a9;
}
.book-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: rgba(221, 148, 13, 0.911);
    transition: background 0.5s;
    cursor: pointer;
}
.book-left a{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: rgba(221, 148, 13, 0.911);
    transition: background 0.5s;
    cursor: pointer;
}
.book-left button:hover{
    background: black;
    opacity: 0.5;
}
.book-left a:hover{
    background: black;
    opacity: 0.5;
}
.book-right img{
    width: 600px;
    height: 300px;
}

@media (max-width:800px){
    .book-inputs{
        width: 80vw;
    }
    .book-right{
        display: none;
    }
}